---
import "../styles/global.css";
import { SITE, LastestRelease } from "../config";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import MainButton from "../components/MainButton.vue";
import Download from "~icons/bx/download";
import Cup from "~icons/tabler/cup";
import ZoomQ from "~icons/tabler/help-triangle";
import DoorEnter from "~icons/tabler/door-enter";
import WorldDown from "~icons/tabler/world-down";
import Charge from "~icons/tabler/battery-vertical-charging";

const navItems = [
  {
    title: "开始使用",
    description: "了解APP功能、如何使用",
    url: "/core/introduction",
    // img: "/Core.jpg",
    icon: DoorEnter,
  },
  {
    title: "常见问题",
    description: "对软件有疑问看这里",
    url: "/others/questions",
    icon: ZoomQ,
  },
  {
    title: "关于豆津账本",
    description: "查看APP相关信息、加入讨论群组",
    url: "/others/about",
    icon: Cup,
  },
];

const friendshipLink = [
  {
    title: "CnGal.org",
    description: "中文Galgame资料站",
    url: "https://www.cngal.org/",
    img: "/cngal.org.logo.png",
  },
  {
    title: "",
    description: "",
    url: "",
    img: "",
  },
  {
    title: "",
    description: "",
    url: "",
    img: "",
  },
];
const { content = {}, canonicalURL } = Astro.props;

// {img && <img src={img} alt={title} />}
---

<!doctype html>
<html style="height:100%" lang="en">
  <head>
    <HeadCommon />
    <HeadSEO
      content={{ ...content }}
      canonicalURL={canonicalURL}
      site={Astro.site}
    />
    <meta name="naive-ui-style" />
  </head>

  <body style="height:100%">
    <div class="bg-slate-100 h-full text-center">
      <header
        class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black"
      >
        <div class="flex items-center justify-center p-4">
          <img
            src="/appicon.png"
            class="h-20 w-20 rounded-xl"
            alt="Doujin-Ledger-Logo"
          />
        </div>
        <h1 class="text-center text-white text-4xl font-medium drop-shadow-sm">
          {SITE.title}
        </h1>
        <p class="text-center text-lg mt-4 text-slate-300">
          {SITE.description}
        </p>
        <div class="mt-4 text-center">
          <a
            class="block md:inline-block"
            href={LastestRelease.url}
            download="豆津账本latest.apk"
          >
            <MainButton
              variant="primary"
              class="w-40 px-6 md:mr-4 flex-nowrap flex items-center"
              client:load
            >
              下载最新版本
              <Download slot="prefix" pack="mdi" name="account" />
            </MainButton>
          </a>
          <a class="block md:inline-block" href="/others/download">
            <MainButton
              variant="info"
              class="w-40 px-6 mt-4 md:mt-0 flex-nowrap flex items-center"
              client:load
            >
              其他渠道下载
              <WorldDown slot="prefix" pack="mdi" name="account" />
            </MainButton>
          </a>
          <div class="text-white mt-4">
            最新版本: v{LastestRelease.version}
          </div>
          <a
            class="block md:inline-block"
            target="_blank"
            href="https://afdian.com/a/doujin-ledger"
          >
            <MainButton
              variant="secondary"
              class="w-40 px-6 mt-4 flex-nowrap flex"
              client:load
            >
              支持作者
              <Charge slot="prefix" pack="mdi" name="account" />
            </MainButton>
          </a>
        </div>
      </header>
      <div class="mt-4 text-center text-lg font-semibold">文档</div>
      <nav class="bg-slate-100">
        <ul class="flex flex-wrap gap-4 max-w-5xl mx-auto text-left">
          {
            navItems.map(({ title, description, url, icon: ico }) => (
              <a
                href={url}
                class="m-4 w-full bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all sm:flex-1 items-center p-4 inline-block"
              >
                <span class="flex flex-col items-center justify-center">
                  {ico === DoorEnter && (
                    <DoorEnter class="text-7xl inline-block m-10 text-[#3C82F6]" />
                  )}
                  {ico === Cup && (
                    <Cup class="text-7xl inline-block m-10 text-[#3C82F6]" />
                  )}
                  {ico === ZoomQ && (
                    <ZoomQ class="text-7xl inline-block m-10 text-[#3C82F6]" />
                  )}
                  <h2 class="text-lg font-medium">{title}</h2>
                  <p class="text-slate-500">{description}</p>
                </span>
              </a>
            ))
          }
        </ul>
      </nav>
      <div class="pt-4 text-center text-lg font-semibold bg-slate-100">
        友情链接
      </div>
      <nav class="bg-slate-100">
        <ul class="flex flex-wrap gap-4 max-w-5xl mx-auto text-left">
          {
            friendshipLink.map(({ title, description, url, img }) => {
              if (url) {
                return (
                  <a
                    href={url}
                    target="_blank"
                    class="m-4 w-full flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all sm:flex-1 items-center p-4 inline-block"
                  >
                    <span class="flex flex-col items-center justify-center">
                      <img
                        src={img}
                        class="text-7xl inline-block mb-2 text-[#3C82F6] w-16"
                        alt=""
                      />
                      <h2 class="text-lg font-medium">{title}</h2>
                      <p class="text-slate-500">{description}</p>
                    </span>
                  </a>
                );
              } else {
                return (
                  <div class="w-full flex flex-col bg-transparent sm:flex-1 sm:hidden md:inline-block lg:inline-block" />
                );
              }
            })
          }
        </ul>
      </nav>
    </div>

    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
